@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-600 px-4;
  font-family: "Montserrat", sans-serif;
}

input:focus,
textarea:focus {
  @apply outline-none;
}
